<body>
	<div id="panel">
		<div id="head">Voted Commands: <span id="timer">8</span></div>
		
		<div id="entries">
		</div>
	</div>

<style>
body {
	background-color: #000;
	color: #fff;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

#panel {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px;
	padding: 5px;
}

#head {
	font-weight: bold;
}

.entry {
	padding: 5px;
	border-bottom: 1px solid black;
}

#timer {
	color: #BBB;
	text-align: right;
	float: right;
}

</style>

<script>
var entriesObject = document.getElementById ("entries");
var timerObject = document.getElementById ("timer");

function escapeHtml (text) {
  return text
      .replace (/&/g, "&amp;")
      .replace (/</g, "&lt;")
      .replace (/>/g, "&gt;")
      .replace (/"/g, "&quot;")
      .replace (/'/g, "&#039;");
}

function getData () {
	var xhttp = new XMLHttpRequest();
	xhttp.open("GET", "http://127.0.0.1:8080/getData", false);
	xhttp.send();
	
	var data = JSON.parse (xhttp.responseText);
	timerObject.innerHTML = data.timeLeft;
	
	newInnerHTML = "";

	for (var i = 0; i < data.cmdList.length; i++) {
		var cmd = data.cmdList[i][0];
		var votes = data.cmdList[i][1];
		newInnerHTML += '<div class="entry">' +
			'<b>' + escapeHtml (cmd) + '</b>' +
			': ' + votes + ' votes</div>';
	}

	entriesObject.innerHTML = newInnerHTML;
}

setInterval (getData, 200);
</script>

</body>